[submodule "src/main/java/com/koordinator/epsilon/Koordinator/Validaciones/MetacortexStaticLibrary"]
	path = src/main/java/com/koordinator/epsilon/Koordinator/Validaciones/MetacortexStaticLibrary
	url = https://github.com/tihomir22/MetacortexStaticLibrary
